# Python Data Structures : Collections
   - String
   - List
   - Dictionary
   - Tuple
   - Set

##### Collection:
       - when we store more than 1 value in a single variable

student1 = 'Asad'
student2 = 'Rehan'
student3 = 'Nasir'
.
.
.
.
.
.
.

##### We can create a list of students

# List:
       - []
       - mutable : Elements in list can be changed. 
       - can hold every valid value
       - Iterable : loop karsakte hen

In [1]:
# creating an empty list
students = []

In [2]:
print(type(students))

<class 'list'>

In [3]:
len(students)

0

In [4]:
# creating a membered list
students = ['Asad','Farooq', 'Shayan','Hashir','Talha','IK','Asim', "Aurangzeb"]

In [5]:
len(students)

8

#### Index : Indices

In [6]:
# +ve         0        1        2        3        4      5    6          7             
students = ['Asad','Farooq', 'Shayan','Hashir','Talha','IK','Asim', "Aurangzeb"]
# -ve         -8      -7        -6      -5       -4     -3    -2        -1

# Acesssing a member using an index number
     - We will ALWAYS use [] to fetch members from any collection

In [7]:
students[2]

'Shayan'

In [8]:
students[-4]

'Talha'

In [9]:
students[4]

'Talha'

In [10]:
students[-1], students[7]

('Aurangzeb', 'Aurangzeb')

###### Slicing : getting (copy) a subset of list

In [11]:
# +ve         0        1        2        3        4      5    6          7             
students = ['Asad','Farooq', 'Shayan','Hashir','Talha','IK','Asim', "Aurangzeb"]
# -ve         -8      -7        -6      -5       -4     -3    -2        -1

In [12]:
students[1:5] # index 5, willnot be included

['Farooq', 'Shayan', 'Hashir', 'Talha']

In [13]:
students[4:8]

['Talha', 'IK', 'Asim', 'Aurangzeb']

In [14]:
students[4:]

['Talha', 'IK', 'Asim', 'Aurangzeb']

In [15]:
students[-7:-2]

['Farooq', 'Shayan', 'Hashir', 'Talha', 'IK']

In [16]:
students[-7:7]

['Farooq', 'Shayan', 'Hashir', 'Talha', 'IK', 'Asim']

In [17]:
# +ve         0        1        2        3        4      5    6          7             
students = ['Asad','Farooq', 'Shayan','Hashir','Talha','IK','Asim', "Aurangzeb"]
# -ve         -8      -7        -6      -5       -4     -3    -2        -1

In [18]:
students[7:2]

[]

In [19]:
students[4:-4]

[]

In [20]:
students[-8:1]

['Asad']

In [21]:
students[0:7:1]  # start, end, step

['Asad', 'Farooq', 'Shayan', 'Hashir', 'Talha', 'IK', 'Asim']

In [22]:
students[0:7:2]

['Asad', 'Shayan', 'Talha', 'Asim']

In [23]:
students[::2]

['Asad', 'Shayan', 'Talha', 'Asim']

In [24]:
# +ve         0        1        2        3        4      5    6          7             
students = ['Asad','Farooq', 'Shayan','Hashir','Talha','IK','Asim', "Aurangzeb"]
# -ve         -8      -7        -6      -5       -4     -3    -2        -1
students[::7]

['Asad', 'Aurangzeb']

In [25]:
students[7:0:-2]

['Aurangzeb', 'IK', 'Hashir', 'Farooq']

In [26]:
students[::-2]

['Aurangzeb', 'IK', 'Hashir', 'Farooq']

In [27]:
students[:]

['Asad', 'Farooq', 'Shayan', 'Hashir', 'Talha', 'IK', 'Asim', 'Aurangzeb']

In [28]:
students[::]

['Asad', 'Farooq', 'Shayan', 'Hashir', 'Talha', 'IK', 'Asim', 'Aurangzeb']

In [29]:
students[1:7:-1]

[]

In [30]:
students[::0]

ValueError: slice step cannot be zero

In [ ]:
list1 = ['xyz', 'zara', 'PYnative']
print (max(list1))

In [ ]:
"ab" < "ac"

In [ ]:
l = [] * 10
print(l)
print(len(l))

In [ ]:
l = [1,2]*4

In [ ]:
l

In [ ]:
"P"*10

In [ ]:
a = None

print(a)

In [ ]:
type(a)

# List Functions

In [ ]:
students

# Adding members in list
   - append(): adds a member in last
   - insert(): adds memebr on given index
   - extend(): add another collection one by one
   - '+'       : joins two list and forms a new list

In [ ]:
students.append('Shahbaz')

In [ ]:
students

In [ ]:
students.insert(4,'Nawaz')

In [ ]:
students

In [ ]:
passed_students = ['ahmed','ali','fasial','danial', 'kashif']

In [ ]:
students.append(passed_students)

In [ ]:
students

In [ ]:
del students[-1]
students

In [ ]:
students.extend(passed_students)

In [ ]:
students

In [ ]:
students + [1,1,3,4,5,6,6]

In [ ]:
students.insert(3,[33,44,55,66])

In [ ]:
students

# Delete a member from list
   - del    : del by index 
   - pop()  : del by index
   - remove(): del by value
   -  clear(): del all elements

In [69]:
del students[3]
students

['Asad',
 'Farooq',
 'Shayan',
 'Hashir',
 'Nawaz',
 'Talha',
 'IK',
 'Asim',
 'Aurangzeb',
 'Shahbaz',
 'ahmed',
 'ali',
 'fasial',
 'danial',
 'kashif',
 'ahmed',
 'ali',
 'fasial',
 'danial',
 'kashif']

In [31]:
students.remove('Nawaz')
students

ValueError: list.remove(x): x not in list

In [32]:
students.pop() #returns the deleted item

'Aurangzeb'

In [33]:
students.pop(5)

'IK'

In [34]:
students.clear()

In [35]:
students

[]

In [36]:
del students[:-4]

In [39]:
# +ve         0        1        2        3        4      5    6          7             
students = ['Asad','Farooq', 'Shayan','Hashir','Talha','IK','Asim', "Aurangzeb"]
# -ve         -8      -7        -6      -5       -4     -3    -2        -1

In [40]:
students.sort() # permanently sorty the list according to character ASCII value

In [41]:
students

['Asad', 'Asim', 'Aurangzeb', 'Farooq', 'Hashir', 'IK', 'Shayan', 'Talha']

In [42]:
students.sort(reverse=True)

In [43]:
students

['Talha', 'Shayan', 'IK', 'Hashir', 'Farooq', 'Aurangzeb', 'Asim', 'Asad']

In [44]:
students.reverse()
students

['Asad', 'Asim', 'Aurangzeb', 'Farooq', 'Hashir', 'IK', 'Shayan', 'Talha']

In [50]:
nums = [12,45,54,12,34,12,56,45,1,35,90]

In [46]:
nums.reverse()
nums

[90, 35, 1, 45, 56, 12, 34, 12, 54, 45, 12]

In [47]:
nums.sort()
nums

[1, 12, 12, 12, 34, 35, 45, 45, 54, 56, 90]

In [48]:
nums.sort(reverse=True)

In [49]:
nums

[90, 56, 54, 45, 45, 35, 34, 12, 12, 12, 1]

In [51]:
nums

[12, 45, 54, 12, 34, 12, 56, 45, 1, 35, 90]

In [55]:
nums.sort(reverse=False).reverse()

AttributeError: 'NoneType' object has no attribute 'reverse'

In [53]:
nums

[1, 12, 12, 12, 34, 35, 45, 45, 54, 56, 90]

In [60]:
nums = [12,45,54,12,34,12,56,45,1,35,90]
nums.reverse()

In [63]:
nums

[90, 35, 1, 45, 56, 12, 34, 12, 54, 45, 12]

In [64]:
nums.index(54)

8

In [66]:
del students[students.index('Farooq')]

In [70]:
students=['Asad', 'Asim', 'Aurangzeb', 'Hashir', 'IK', 'Shayan', 'Asim','Talha']

In [71]:
students.index('Asim',2)

6

In [72]:
students.count("Asim")

2

# Dictionary
   - {}
   - {key:value}
   - index nahi hoty
   - mutable

In [73]:
record1 = {'name':'Anas', 'Age':23, 'City':'Karachi', 'Gender':'Male'}

In [74]:
print(record1)

{'name': 'Anas', 'Age': 23, 'City': 'Karachi', 'Gender': 'Male'}

In [77]:
type(record1)

dict

In [76]:
len(record1)

4

##### Adding a new key:value pair in dictionary

In [78]:
record1['contact']='1236767880'
record1['abba'] ='Riyaz sb'

In [85]:
record1['qualification'] = 'BS'

In [86]:
record1

{'name': 'Anas',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'contact': '1236767880',
 'abba': 'Muhammad Riaz',
 'qualification': 'BS'}

##### if a key exist: it will update its value

In [80]:
record1['abba']= 'Muhammad Riaz'
record1

{'name': 'Anas',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'contact': '1236767880',
 'abba': 'Muhammad Riaz'}

##### Accessing a member

In [81]:
record1['abba']

'Muhammad Riaz'

In [82]:
record1['contact']

'1236767880'

In [84]:
record1['City']

'Karachi'

##### How tyo remove members from dictionary

In [87]:
del record1['contact']

In [88]:
record1

{'name': 'Anas',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'abba': 'Muhammad Riaz',
 'qualification': 'BS'}

In [89]:
record1.pop('abba')

'Muhammad Riaz'

In [90]:
record1.popitem()

('qualification', 'BS')

In [91]:
record1.values()

dict_values(['Anas', 23, 'Karachi', 'Male'])

In [92]:
record1.keys()

dict_keys(['name', 'Age', 'City', 'Gender'])

In [93]:
record1.items()

dict_items([('name', 'Anas'), ('Age', 23), ('City', 'Karachi'), ('Gender', 'Male')])

In [94]:
record1.get('name')  , record1['name']

('Anas', 'Anas')

In [95]:
record1['height']

KeyError: 'height'

In [100]:
record1.get('height', "ye item nahi hy")

'ye item nahi hy'

In [102]:
record1['meta_data'] = meta_data
record1

{'name': 'Anas',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'meta_data': {'children': 12, 'height': 5.7, 'blood_gp': 'B+'}}

In [103]:
del record1['meta_data']

In [101]:
meta_data = {'children':12, 'height':5.7, 'blood_gp':"B+"}

In [104]:
record1.update(meta_data)

In [105]:
record1

{'name': 'Anas',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'children': 12,
 'height': 5.7,
 'blood_gp': 'B+'}

# List in a dictionary

In [106]:
students = {'roll':[1,2,3,4,5,6,7,8,9,10],
            'name':['Asad', 'Asim', 'Aurangzeb', 'Hashir', 'IK', 'Shayan', 'Asim','Talha','Ali','Luqman'],
            'course':['Python','Web','CyberSecurity','Python','Web','CyberSecurity','Python','Web','CyberSecurity','Python'],
             'marks':[90,78,67,78,89,78,98,90,99,78]}
students

{'roll': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'name': ['Asad',
  'Asim',
  'Aurangzeb',
  'Hashir',
  'IK',
  'Shayan',
  'Asim',
  'Talha',
  'Ali',
  'Luqman'],
 'course': ['Python',
  'Web',
  'CyberSecurity',
  'Python',
  'Web',
  'CyberSecurity',
  'Python',
  'Web',
  'CyberSecurity',
  'Python'],
 'marks': [90, 78, 67, 78, 89, 78, 98, 90, 99, 78]}

In [107]:
students['roll']

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [108]:
students['name']

['Asad',
 'Asim',
 'Aurangzeb',
 'Hashir',
 'IK',
 'Shayan',
 'Asim',
 'Talha',
 'Ali',
 'Luqman']

In [109]:
import pandas as pd
pd.DataFrame(students)

   roll       name         course  marks
0     1       Asad         Python     90
1     2       Asim            Web     78
2     3  Aurangzeb  CyberSecurity     67
3     4     Hashir         Python     78
4     5         IK            Web     89
5     6     Shayan  CyberSecurity     78
6     7       Asim         Python     98
7     8      Talha            Web     90
8     9        Ali  CyberSecurity     99
9    10     Luqman         Python     78

# Tuple: 
     - ()
     - immutable

In [112]:
a = (1,2,3,4,5)

In [113]:
type(a)

tuple

In [114]:
a[2] = 200

TypeError: 'tuple' object does not support item assignment

In [115]:
b = 'apples', 'oranges'

In [116]:
b

('apples', 'oranges')

In [119]:
b = (3*3)+3

In [120]:
type(b)

int

In [122]:
c = 3,
type(c)

tuple

In [125]:
atuple = (1,2,3,['apple','orange'])
atuple

(1, 2, 3, ['apple', 'orange'])

# SET
   - collection of well defined and distinct(unique) object is called set.
   - {1,2,3,4}

In [136]:
nums = {1,2,3,4,5,6,5,9,1,7}
len(nums)

8

In [137]:
nums

{1, 2, 3, 4, 5, 6, 7, 9}

In [138]:
nums.add(100)

In [139]:
nums

{1, 2, 3, 4, 5, 6, 7, 9, 100}

In [142]:
setA = {1, 2, 3, 4, 5, 6, 7, 9, 100}
setB = {1,3,5,7,9,1,13,99,100}
setA.difference(setB)

{2, 4, 6}

In [141]:
setB.difference(setA)

{13, 99}

In [143]:
setA.difference_update(setB)

In [144]:
setA

{2, 4, 6}

In [145]:
setA = {1, 2, 3, 4, 5, 6, 7, 9, 100}
setB = {1,3,5,7,9,1,13,99,100}
setA.intersection(setB)

{1, 3, 5, 7, 9, 100}

In [146]:
setB.intersection(setA)

{1, 3, 5, 7, 9, 100}

In [147]:
setA.intersection_update(setB)

In [148]:
setA

{1, 3, 5, 7, 9, 100}

In [149]:
setA.isdisjoint(setB)

False

In [150]:
setA

{1, 3, 5, 7, 9, 100}

In [151]:
setB

{1, 3, 5, 7, 9, 13, 99, 100}

In [152]:
setC={88,77,66,55,44}

In [153]:
setA.isdisjoint(setC)

True

In [157]:
setA.union(setB).union(setC)

{1, 3, 5, 7, 9, 13, 44, 55, 66, 77, 88, 99, 100}

In [158]:
setA.discard("Apple")