# For Loop
        - for    in 
        - it always requires a sequence to iterate over.

In [14]:
students = ['Asad','Farooq', 'Shayan','Hashir','Talha','IK','Asim', "Aurangzeb","ali"]

In [5]:
# direct iterating over list
for s in students:
    print(f"- Hello {s}")

- Hello Asad
- Hello Farooq
- Hello Shayan
- Hello Hashir
- Hello Talha
- Hello IK
- Hello Asim
- Hello Aurangzeb

In [12]:
# iteating over list using index
for n in range(8): #0,1
    print(n, students[n])

0 Asad
1 Farooq
2 Shayan
3 Hashir
4 Talha
5 IK
6 Asim
7 Aurangzeb

In [11]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
len(students)

9

In [16]:
for n in range(len(students)): #0,1
    print(n, students[n])

0 Asad
1 Farooq
2 Shayan
3 Hashir
4 Talha
5 IK
6 Asim
7 Aurangzeb
8 ali

In [19]:
# to print the list items in reverse order we will reverse the list first
for s in students[::-1]:
    print(s)

ali
Aurangzeb
Asim
IK
Talha
Hashir
Shayan
Farooq
Asad

In [20]:
for a in students.reverse():  # p
    print(a)

TypeError: 'NoneType' object is not iterable

In [22]:
lst =[1,2,3,4]

In [24]:
print(lst.sort())

None

In [25]:
lst.reverse()

In [27]:
for n,s in enumerate(students[::-1]):
    print(n,s)

0 Asad
1 Farooq
2 Shayan
3 Hashir
4 Talha
5 IK
6 Asim
7 Aurangzeb
8 ali

In [29]:
fruits = ['apple','orange',"banana"]

In [32]:
for n,f in enumerate(fruits):
    print(n, f )

0 apple
1 orange
2 banana

In [34]:
print(students)

['ali', 'Aurangzeb', 'Asim', 'IK', 'Talha', 'Hashir', 'Shayan', 'Farooq', 'Asad']

# continue , break

In [36]:
for s in students:
    print(f"Dear Mr. {s}, Kal apki chutti hy")

Dear Mr. ali, Kal apki chutti hy
Dear Mr. Aurangzeb, Kal apki chutti hy
Dear Mr. Asim, Kal apki chutti hy
Dear Mr. IK, Kal apki chutti hy
Dear Mr. Talha, Kal apki chutti hy
Dear Mr. Hashir, Kal apki chutti hy
Dear Mr. Shayan, Kal apki chutti hy
Dear Mr. Farooq, Kal apki chutti hy
Dear Mr. Asad, Kal apki chutti hy

In [37]:
for s in students:
    if len(s)<5:
        print(f"Dear Mr. {s}, Kal apki chutti hy")
    else:
        print(f"Dear Mr. {s}, Kal apko zaror ana hy")

Dear Mr. ali, Kal apki chutti hy
Dear Mr. Aurangzeb, Kal apko zaror ana hy
Dear Mr. Asim, Kal apki chutti hy
Dear Mr. IK, Kal apki chutti hy
Dear Mr. Talha, Kal apko zaror ana hy
Dear Mr. Hashir, Kal apko zaror ana hy
Dear Mr. Shayan, Kal apko zaror ana hy
Dear Mr. Farooq, Kal apko zaror ana hy
Dear Mr. Asad, Kal apki chutti hy

In [38]:
for s in students:
    if s=="Hashir":
        break
    else:
        print(s)

ali
Aurangzeb
Asim
IK
Talha

In [41]:
guests = []
for barati in range(5):
    name = input("Enter guest name")
    guests.append(name)
guests

Enter guest name nasir
Enter guest name anas
Enter guest name hamza
Enter guest name ahmed
Enter guest name uzair

['nasir', 'anas', 'hamza', 'ahmed', 'uzair']

In [40]:
guests

['sir nasir']

In [42]:
menu = []
for a in range(5):
    dish = input("Enter dish name: ")
    menu.append(dish)
menu

Enter dish name:  biryani
Enter dish name:  karahi
Enter dish name:  fish
Enter dish name:  seekh booti
Enter dish name:  labe shiren

['biryani', 'karahi', 'fish', 'seekh booti', 'labe shiren']

In [47]:
menu = []
for a in range(5):
    dish = input("Enter dish name: ").lower()
    if dish=="fish":
        continue
    menu.append(dish)
menu

Enter dish name:  FISH
Enter dish name:  a
Enter dish name:  s
Enter dish name:  f
Enter dish name:  g

['a', 's', 'f', 'g']

In [43]:
for a in range(10):
    if a==5:
        continue
    else:
        print(a)

0
1
2
3
4
6
7
8
9

In [45]:
rates ={}
items = ['biryani', 'karahi', 'fish', 'seekh booti', 'labe shiren']
for i in items:
    price=input(f"{i} for 300 people")
    rates[i]=price
rates

biryani for 300 people 50000
karahi for 300 people 30000
fish for 300 people 100000
seekh booti for 300 people 60000
labe shiren for 300 people 30000

{'biryani': '50000',
 'karahi': '30000',
 'fish': '100000',
 'seekh booti': '60000',
 'labe shiren': '30000'}

In [52]:
shop = ['charger', 'handsfree', 'usb', 'datacable', 'powerbank', 'mouse','keyboard','mobilecover']
cart = {}
total = 0
for i in shop:
    price  = int(input(f"wht is the price of {i}"))
    cart[i] = price
    total +=price
print(cart)
total

wht is the price of charger 100
wht is the price of handsfree 200
wht is the price of usb 300
wht is the price of datacable 400
wht is the price of powerbank 500
wht is the price of mouse 600
wht is the price of keyboard 700
wht is the price of mobilecover 800

{'charger': 100, 'handsfree': 200, 'usb': 300, 'datacable': 400, 'powerbank': 500, 'mouse': 600, 'keyboard': 700, 'mobilecover': 800}

3600

In [51]:
cart

{'charger': 300,
 'handsfree': 400,
 'usb': 500,
 'datacable': 600,
 'powerbank': 700,
 'mouse': 345,
 'keyboard': 1234,
 'mobilecover': 3456}

In [56]:
shop = ['charger', 'handsfree', 'usb', 'datacable', 'powerbank', 'mouse','keyboard','mobilecover']
cart = {}
for i in shop:
    price  = int(input(f"wht is the price of {i}"))
    cart[i] = price
    
total  = sum(cart.values())
print(cart)
print(total)

wht is the price of charger 234
wht is the price of handsfree 234
wht is the price of usb 456
wht is the price of datacable 56
wht is the price of powerbank 712
wht is the price of mouse 3456
wht is the price of keyboard 7890
wht is the price of mobilecover 123

{'charger': 234, 'handsfree': 234, 'usb': 456, 'datacable': 56, 'powerbank': 712, 'mouse': 3456, 'keyboard': 7890, 'mobilecover': 123}
13161

In [55]:
sum(cart.values())

3600